.contacts {
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 787px;
  padding: 128px 120px 200px 120px;
}

.header {
  h1 {
    margin-top: 8px;
  }
}
.redes {
  width: 400px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: var(--gray-300);
  padding: 20px;
  gap: 12px;
  border-radius: 8px;
}

.redes:hover {
  border: solid var(--gray-500);
  cursor: pointer;
  .logo5 {
    content: url("../assets/icons/EnvelopeSimplehover.png");
  }
  .logo4 {
    content: url(../assets/icons/GithubLogohover.png);
    transition: 0.3s;
  }
  .logo3 {
    content: url(../assets/icons/InstagramLogohover.png);
    transition: 0.3s;
  }
  .logo2 {
    content: url(../assets/icons/LinkedinLogohover.png);
    transition: 0.3s;
  }
  .logo1{
    content: url(../assets/icons/ArrowUpRighthover.png);
    transition: 0.3s;
  }
  .textcolor {
    color: var(--blue)
  }

}

.bottom {
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
  p {
   width: 288px;
   height: 16px;
   margin-bottom: 6px;
   align-self: center;
   place-items: center;
   margin: 8px;
   margin-bottom: 15px;
   
}
}
