html, body {
  height: 100%;
  margin: 94px;
}
body {
  background-image: url(../assets/Background_Intro.png);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  margin-top: 80px;
  justify-content: center;

  img {
    margin-left: 8px;
  }
}

.perfil {
  display: flex;
  justify-content: center;
  margin-top: 123px;
  img {
    border: 2px solid var(--red);
    border-radius: 9999px;
    width: 87.27px;
    height: 87.27px;
    object-fit: cover;
    padding:2px;
  }
}

.content-tag {
  display: inline-flex;
  background-color: var(--gray-300);
  padding: 4px 8px;
  border-radius: 999px;
  font: var(--tex-md);
  color: var(--gray-500);
  margin-right: 16px;
}

h2, h1 , p {
  display: flex;
  justify-content: center;
  font: inherit;
}

h2 {
  font-family: var(--font-family2);
  margin-top: 52px;
  color: var(--gray-500)

}

h1 {
  color: var(--gray-600);
  font-family: var(--font-family);
  margin-top: 8px;
  line-height: 120%;
  font-size: 56px;
  font-weight: bold;
}

p {
  margin-top: 20px;
  color: var(--gray-400);
  display:flex;
  justify-content: center;
}
span {
  margin-left: 8px;
  margin-right: 8px;
}
.container span {
  font-family: var(--font-family3);
  line-height: 140%;
  font-size: 16px;
}

.seta {
  display: flex;
  justify-content: center;
  margin-top: 94px;
}