html, body {
  height: 100%;
  margin: 94px;
}

.container {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.perfil {
  display: flex;
  justify-content: center;
  img {
    border-radius: 9999px;
    width: 87.27px;
    height: 87.27px;
    object-fit: cover;
  }
}

.content-tag {
  display: inline-flex;
  background-color: var(--gray-300);
  padding: 4px 8px;
  border-radius: 999px;
  font: var(--tex-md);
  color: var(--gray-500);
}

h2, h1 , p {
  display: flex;
  justify-content: center;
  font: inherit;
}

h2 {
  font-family: var(--font-family2);
  margin-top: 52px;

}

h1 {
  color: var(--gray-600);
  font-family: var(--font-family);
  margin-top: 8px;
  line-height: 120%;
  font-size: 56px;
  font-weight: bold;
}

p {
  margin-top: 20px;
}