body {
 background-color: var(--gray-200);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;

}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 24px;

  
  img {
   border-radius: 8px;
   height: 156px;
   width: 306px;
   object-fit: cover;
   text-align: left;
   display: inline-block;
  }
}

.fundo {
  background-color: var(--gray-300);
  padding: 12px 12px 112px 12px;
  border-radius: 12px;
  height: 280px;
  width: 330px;
}


#projetos {
  margin: 80px;
  h1 {
  margin-top: 8px;
}
}


section p {
  margin: 8px;
  text-align: left;
  display: inline-block;
}


img {
  max-width: 100%;
}

.borda:hover {
  transform: scale(1.1);  /* Aumenta o tamanho do card ao passar o rato */
  border: 2px solid var(--gray-400);
}
#cards {
  a {
    text-decoration: none;
  }
  h3 {
    margin-top: 11px;
  }
  h4 {
    margin-top: 15px;
  }
  
}
