body {
 background-color: var(--gray-200);
 background-repeat: no-repeat;
 background-size: cover;
 height: 100%;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projetos {
  margin: 80px;
}

main {
  img {
    background-color: var(--gray-500);
  }
}

