main h2 {
  font-family: var(--font-family2);
  color: var(--red);
  margin-top: 144px;
}

main h1 {
  font-family: var(--font-family);
  color: var(--gray-600);
  font-size: 24px;
  line-height: 120%;
  font-weight: bold;
  margin-top: 8px;
}